<div class="row">
  <div class="col-md-8">
    <div class="input-group flex-nowrap">
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-9 text-right">
        <div class="logo">
          <a href="index.html"> <span>Bonjour </span>CHAMAM Salma</a>
      </div>
        <!-- <span>Bonjour {{connectedUser.nom}}&nbsp;{{connectedUser.prenom}}</span> -->
        <!-- <span>Bonjour {{connectedUser.nom}}&nbsp;{{connectedUser.prenom}}</span> -->
      </div>

      <div class="col-md-3">
        <a href="javascript:void(0);" [routerLink]="['/profil']">
          <img src="assets/th66.jpeg"  class="rounded-circle" style="width: 50px; height: 50px;" />
          <!-- <button type="button" class="btn btn-outline-danger btn-sm ml-2" [routerLink]="['/pageacceuil']">Déconnexion</button> -->
        </a>
      </div>
    </div>
  </div>
</div>

