<header>
  <div class="logo">
      <a href="index.html"> <span>Mon</span>Labo</a>
  </div>
  <ul class="menu">
      <li><a href="/pa">Acceuil</a></li>
      <li><a href="#a-propos">à propos</a></li>
      <li><a href="/login">se connecter</a></li>
      <li><a href="/inscrire">s'inscrire</a></li>
  </ul>


  <div class="responsive-menu"></div>
</header>
<!-- acceuil section -->
<section id="home">
  <h2>Mon Labo</h2>
  <h4>Gestion de laboratoire</h4>
  <p>Notre site de gestion de laboratoire joue un rôle essentiel dans la gestion, l'organisation et la supervision de toutes les activités liées aux analyses.</p>
  <p>aux équipements et aux échantillons de notre laboratoire. </p>


</section>

<!-- A propos section -->
<section id="a-propos">
  <h1 class="title">à propos</h1>
  <div class="img-desc">
     <div class="left">
      <img src="assets/im4.jpeg" alt="Image">
     </div>
      <div class="right">
          <h3>MONLABO</h3>
          <p>permet de suivre avec précision l'ensemble des opérations, de la réception des échantillons à la génération des résultats, en passant par la gestion des équipements, des stocks de réactifs et des protocoles de test. Ce système garantit une efficacité accrue, une conformité aux normes et une traçabilité optimale de chaque étape du processus scientifique, contribuant ainsi à la performance globale et à la fiabilité des services du laboratoire.</p>
          <a href="#">Lire Plus</a>
      </div>
  </div>

</section>

<!-- section destination -->
<section id="popular-destination">
  <h1 class="title">NOS SERVICES DE LABORATOIRE</h1>
  <div class="content">
      <!-- box -->
      <div class="box">
        <img src="assets/im2.jpeg" alt="Image description">
          <div class="content">
            <div>
              <h4>Tests de Qualité</h4>
              <p>Évaluation précise des échantillons</p>
              <p>Nos tests de qualité permettent une analyse approfondie des échantillons pour garantir leur conformité aux normes et standards internationaux. Que ce soit pour des analyses chimiques, biologiques ou physiques, nous assurons la fiabilité de chaque test.</p>
              <a href="#">Lire Plus</a>
          </div>
          </div>
      </div>
      <!-- box -->
      <!-- box -->
      <div class="box">
          <img src="assets/im3.jpg" alt="">
          <div class="content">
            <div>
              <h4>Gestion des Stocks</h4>
              <p>Suivi des réactifs et équipements</p>
              <p>Nous offrons une gestion complète des stocks de réactifs et d’équipements de laboratoire pour assurer une disponibilité continue des ressources nécessaires à vos analyses.</p>
              <a href="#">Lire Plus</a>
          </div>
          </div>
      </div>
      <!-- box -->
      <!-- box -->
      <div class="box">
          <img src="assets/im5.jpeg" alt="">
          <div class="content">
            <div>
              <h4>Formation en laboratoire</h4>
              <p>Formations pratiques et théoriques</p>
              <p>Nous proposons des formations sur les meilleures pratiques en laboratoire, qu'il s'agisse d'analyse, de sécurité ou de gestion des équipements. Nos sessions sont adaptées à différents niveaux d'expérience.</p>
              <a href="#">Lire Plus</a>
          </div>
          </div>
      </div>
      <!-- box -->
       <!-- box -->
       <div class="box">
          <img src="assets/im6.jpeg" alt="">
          <div class="content">
            <div>
              <h4>Recherche scientifique</h4>
              <p>Nous menons des recherches de pointe dans diverses disciplines scientifiques, allant de la chimie analytique à la biotechnologie et la nanotechnologie.</p>
              <p>Nos projets sont soutenus par une équipe multidisciplinaire d'experts dédiés à l'innovation et à l'amélioration des techniques scientifiques.</p>
              <a href="#">Lire Plus</a>
          </div>
          </div>
      </div>
      <!-- box -->
       <!-- box -->
       <div class="box">
          <img src="assets/im7.jpeg" alt="">
          <div class="content">
            <div>
              <h4>Matériel de laboratoire de base</h4>
              <p>Notre laboratoire met à disposition une gamme complète d'équipements de laboratoire essentiels pour toutes les opérations scientifiques.</p>
              <p>Des microscopes, pipettes, réacteurs et autres instruments sont disponibles pour assurer des analyses de haute précision et des recherches fiables.</p>
              <a href="#">Lire Plus</a>
          </div>
          </div>
      </div>
      <!-- box -->
       <!-- box -->
       <div class="box">
          <img src="../assets/im8.jpeg" alt="">
          <div class="content">
            <div>
              <h4>Produits biologiques pour analyses</h4>
              <p>Nous proposons des solutions biologiques pour faciliter l'analyse des échantillons, incluant des milieux de culture, des souches de bactéries et des kits d'extraction d'ADN.</p>
              <p>Nos produits sont adaptés à une variété d'applications, allant de la microbiologie à la biologie moléculaire.</p>
              <a href="#">Lire Plus</a>
          </div>
          </div>
      </div>
      <!-- box -->
  </div>
</section>

<!--  contact section -->
<section id="contact">
  <h1 class="title">Contact</h1>
  <form action="">
      <div class="left-right">
          <div class="left">
              <label>Nom Complet</label>
              <input type="text">
              <label>Objet</label>
              <input type="text">
              <label>Email</label>
              <input type="text">
              <label>Message</label>
              <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="right">
              <label>Numéro</label>
              <input type="text">
              <label>Date</label>
              <input type="text">
              <label>Autres Details</label>
              <input type="text">
              <label>Adresse</label>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9916256937595!2d2.292292615509614!3d48.85837007928746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sTour%20Eiffel!5e0!3m2!1sfr!2sfr!4v1647531560805!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
      </div>
      <button>Envoyer</button>
  </form>
</section>

<footer>
  <p> Mon Labo</p>
</footer>


<script>
  var toggle_menu = document.querySelector('.responsive-menu');
  var menu = document.querySelector('.menu');
  toggle_menu.onclick= function(){
       toggle_menu.classList.toggle('active');
       menu.classList.toggle('responsive')
  }
</script>
