.card-header {
  padding: 0.25rem 0.5rem;
  h2 {
    font-size: 1rem;
    .btn {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
    }
  }
}

.card {
  .list-group-item {
    padding: 0.25rem 0.5rem;
    .d-flex {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
    }
  }
}

.menu-title {
  font-size: 0.875rem;
}

.submenu-title {
  font-size: 0.875rem;
}
.card-header {
  padding: 0.25rem 0.5rem;
  h2 {
    font-size: 1rem;
    .btn {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
    }
  }
}

.card {
  .list-group-item {
    padding: 0.25rem 0.5rem;
    .d-flex {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
    }
  }
}

.menu-title {
  font-size: 0.875rem;
}

.submenu-title {
  font-size: 0.875rem;
}
